.modal-overlay {
    position: relative;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 60;
    position: relative;
    animation: fadeIn 0.3s ease-out;
    color: var(--text-dark);
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .step-indicator {
    display: flex;
    gap: 8px;
    margin-bottom: 15px;
    justify-content: center;
  }
  
  .step-indicator span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ccc;
  }
  
  .step-indicator .active-step {
    background: var(--primary);
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  

  .modal-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  .closeBtn{
    background-color: transparent;
    border: none;
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
  }

  .closeBtn svg{
    height: 30px;
    width: 30px;
    fill: red;
  }
  
  .modal-footer button {
    background: var(--primary);
    color: var(--text-dark);
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .modal-footer button:hover {
    filter: brightness(0.9);
  }

  .closeBtn:hover svg{
    filter: brightness(0.9);
    transform: scale(0.95);
  }


  @media(min-width:900px){
    .modal-overlay{
        position: fixed;
    }
  }

  .checkbox-group {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .checkbox-group input {
    width: 18px;
    height: 18px;
    accent-color: var(--primary);
  }
  
  .radio-group {
    display: flex;
    gap: 15px;
  }
  
  .radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
  
  .radio-group input {
    width: 16px;
    height: 16px;
    accent-color: var(--primary);
  }