.header{
    background-color: var(--secondary);
    width: screen;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}

.navbar__logo{
    width: 70px;
    height: 70px;
}

/* Mobile First*/
.navbar__mobile .menuButton{
    background-color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    z-index: 20;
    position: relative;
}

.navbar__mobile .menuButton.select{
    background-color: var(--terciary);
}

.navbar__mobile .menuButton.select svg{
    fill: white;
}

.navbar__mobile .menuButton:hover{
    filter: brightness(0.9);
    transform: scale(0.9);
}

.navbar__mobile svg{
    width:30px;
    height:30px;
}

.navbar__mobile--menu{
    height: 100%;
    width: 100%;
    background-color: var(--off-white);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 19;
    transition: all ease-in-out 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.navbar__mobile--menu ul{
    padding-left: 0;
    list-style: none;
    gap: 20px;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    min-width: 250px;
}

.navbar__mobile--menu ul a{
    color: var(--text-dark);
    font-size: 20px;
    padding: 5px 15px;
    transition: all ease-in-out 0.3s;
}

.navbar__mobile--menu ul a:hover{
    filter: brightness(0.3);
    transform: scale(0.95);
}

.navbar__mobile--menu ul li{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.navbar__mobile--menu ul li svg{
    fill: var(--terciary);
    height: 20px;
    width: 20px;
}

.navbar__mobile--menu .adminMobButton{
    color: var(--quarternary);
}

.navbar__mobile--menu.menuClose{
    right: -100%;
}

.navbar__mobile--menu>.menuOpen{
    right: 100%;
}

/* Desktop */
.navbar__desktop ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 25px;
}

.navbar__desktop ul a{
    color: var(--text-white);
    font-weight: 700;
    transition: all ease-in-out 0.3s;
    font-size: 18px;
}

.navbar__desktop ul a:hover{
    filter: brightness(0.8);
    transform: scale(0.95);
}

.navbar__desktop a li{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.navbar__desktop a li svg{
    height: 20px;
    width: 20px;
    fill: var(--off-white);
}

.navbar__desktop .adminDeskButton{
    background-color: var(--primary);
    padding: 8px 10px;
    border-radius: 10px;
    color: var(--text-white);
}

.addDropdown{
    position: relative;
}

.addDropdown__container{
    position: absolute;
    top: 28px;
    left: -50%;
    border-radius: 10px;
    min-width: 100px;
    min-height: 100px;
    background-color: var(--off-white);
    padding: 18px 15px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Efeito de fade */
.fadeFromTop{
    transition: all ease-in-out 0.3s;
    transform: translateY(-10px);
    pointer-events: none;
    opacity: 0;
  }
  
  .addDropdown:focus-within .fadeFromTop, .addDropdown:hover .fadeFromTop{
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

@media(min-width:900px){
    :where(.navbar__mobile--menu, .navbar__mobile){
        display: none;
    }


}
@media(max-width:900px){
    .navbar__desktop{
        display: none;
    }
}